.radarBg {
  position: absolute;
  margin-top: -11vh;
  align-self: center;
  width: 180vw;
  max-width: 600px;
}
.wrapper {
  position: absolute;
  margin-bottom: 5vh;
  bottom: 0;
  width: calc(100vw - 50px);
}
.header {
  z-index: 999;
  position: relative;
  background-color: #FFF;
  box-shadow: #FFF 0px -15px 65px 50px;
}
